Repository Evonofy/NeoExpensive: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

:green_heart: ci(web_deploy): add custom base to vite build
  .github/workflows/web_deploy.yml
  apps/mvp/index.html
  apps/mvp/vite.config.ts
Due: prettier --write

:bug: fix(@neo/mvp): change BrowserRouter for HashRouter for github pages
  apps/mvp/src/router.tsx
Due: none

:green_heart: ci(web_deploy): include all apps in paths
  .github/workflows/web_deploy.yml
Due: none

:bug: fix(@neo/web): fix inconsistencies with auth system and storage
  apps/web/src/context/AuthContext.tsx
  apps/web/src/context/SettingsContext.tsx
  apps/web/src/context/StorageContext.tsx
  apps/web/src/pages/user/[username]/index.tsx
  apps/web/src/pages/user/[username]/sessions.tsx
  services/api/prisma/schema.prisma
Due: none

:sparkles: feat: add passwordless authentication
  apps/web/src/context/AuthContext.tsx
  apps/web/src/context/StorageContext.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/login/magic/authorize.tsx
  apps/web/src/pages/login/magic/index.tsx
  services/api/src/modules/users/infra/http/router.ts
  services/api/src/modules/users/use-cases/magic-link-authentication.ts
Due: prettier --write

:green_heart: ci(api): add server build workflow
  .github/workflows/build-server.yml
  .yarn/install-state.gz
  Procfile
  packages/server/Procfile
Due: none

:bug: fix(server): change esbuild script to js
  .yarn/install-state.gz
  packages/server/package.json
  packages/server/scripts/esbuild.build.js
Due: prettier --write

:green_heart: ci(fix): build @neo/html before @neo/mvp
  .github/workflows/web_deploy.yml
Due: none

:bug: fix(web_deploy.yml): fix broken @neo/web build
  .github/workflows/web_deploy.yml
  .yarn/install-state.gz
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/hooks/use-type-safe-router.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/user/[username]/index.tsx
  apps/web/src/stories/Button.stories.tsx
  apps/web/src/stories/Button.tsx
  apps/web/src/stories/Header.stories.tsx
  apps/web/src/stories/Header.tsx
  apps/web/src/stories/Introduction.stories.mdx
  apps/web/src/stories/Page.stories.tsx
  apps/web/src/stories/Page.tsx
  apps/web/src/stories/assets/code-brackets.svg
  apps/web/src/stories/assets/colors.svg
  apps/web/src/stories/assets/comments.svg
  apps/web/src/stories/assets/direction.svg
  apps/web/src/stories/assets/flow.svg
  apps/web/src/stories/assets/plugin.svg
  apps/web/src/stories/assets/repo.svg
  apps/web/src/stories/assets/stackalt.svg
  apps/web/src/stories/button.css
  apps/web/src/stories/header.css
  apps/web/src/stories/page.css
  apps/web/src/styles/global.scss
  packages/server/package.json
  packages/server/scripts/esbuild.dev.js
  yarn.lock
Due: prettier --write, stylelint --fix

:bug: fix(@neo/web): remove normalize.css
  .yarn/install-state.gz
  apps/web/package.json
  apps/web/src/pages/_app.tsx
  yarn.lock
Due: prettier --write

:bug: fix(ci): install all dependencies in ci
  .github/workflows/web_deploy.yml
Due: none

:memo: docs(readme): add sections, releases, QA, support, notion, figma and license
  .github/assets/custom_logo.svg
  .github/assets/design-system-structure.png
  .github/assets/rainbow_separator.svg
  .github/assets/social-preview.jpg
  .github/assets/social_preview.jpg
  README.md
Due: prettier --write

feat(mvp): add support & about page
  .github/workflows/web_deploy.yml
  .yarn/install-state.gz
  apps/mvp/api.json
  apps/mvp/index.html
  apps/mvp/src/components/Button/index.tsx
  apps/mvp/src/components/Button/styles.module.scss
  apps/mvp/src/context/products.tsx
  apps/mvp/src/js/functions/modal.js
  apps/mvp/src/pages/about/index.tsx
  apps/mvp/src/pages/checkout/index.tsx
  apps/mvp/src/pages/home/index.tsx
  apps/mvp/src/pages/support/index.tsx
  apps/mvp/src/router.tsx
  apps/web/src/pages/index.tsx
  packages/lint/prettier.config.js
  todo.md
  yarn.lock
Due: prettier --write, stylelint --fix

chore: re-make yarn.lock
  .yarn/install-state.gz
  yarn.lock
Due: none

:sparkles: feat(MVP): get coupons from API instead of local
  .lintstagedrc
  .yarn/install-state.gz
  apps/mvp/.env.example
  apps/mvp/src/components/about/user.tsx
  apps/mvp/src/pages/about.tsx
  apps/mvp/src/pages/checkout.tsx
  apps/mvp/src/pages/status.tsx
  apps/mvp/src/routes.tsx
  apps/mvp/src/services/api.ts
  apps/web/src/context/AuthContext.tsx
  apps/web/src/context/SettingsContext.tsx
  apps/web/src/context/StorageContext.tsx
  apps/web/src/pages/recover-password.tsx
  apps/web/src/pages/user/[username]/sessions.tsx
  apps/web/src/services/auth.ts
  package.json
Due: prettier --write

:bug: fix(web_deploy.yml): remove @neo/web from deploys
  .github/workflows/web_deploy.yml
Due: none

feat(MVP): cart context & fetch coupouns from API
  .github/workflows/web_deploy.yml
  .yarn/install-state.gz
  apps/mvp/package.json
  apps/mvp/src/app.tsx
  apps/mvp/src/context/cart.tsx
  apps/mvp/src/pages/checkout.tsx
  apps/mvp/src/services/api.ts
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: ./**/*.{js,ts,json,md}
  stylelint --fix: any of: ./**/*.{css,scss}
