Repository Evonofy/NeoExpensive: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

:bug: fix(yarn): fix yarn lock conflict
  .yarn/install-state.gz.REMOVED.git-id
  yarn.lock
Due: none

:bug: fix(yarn): fix yarn lock conflict
  .yarn/install-state.gz
  yarn.lock
Due: none

:bug: fix(merge): fix merge conflict with main
  apps/web/src/context/AuthContext.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/services/axios.ts
  services/api/.env.example
  services/api/src/@types/env.d.ts
  services/api/src/infra/http/router.ts
  services/api/src/modules/users/infra/http/router.ts
Due: prettier --write

:green_heart: ci(test_web_deploy.yml): add test_web_deploy.yml
  .github/workflows/test_web_deploy.yml
Due: none

:sparkles: feat: add github oauth login
  .yarn/install-state.gz.REMOVED.git-id
  apps/web/src/context/AuthContext.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/services/auth.ts
  apps/web/src/types.ts
  services/api/package.json
  services/api/prisma/migrations/20220223165253_add_github_oauth_columns_to_user/migration.sql
  services/api/prisma/schema.prisma
  services/api/src/modules/users/domain/mappers/toDomainMapper.ts
  services/api/src/modules/users/infra/http/router.ts
  services/api/src/modules/users/infra/prisma/contacts-prisma-repository.ts
  services/api/src/modules/users/infra/prisma/users-prisma-repository.ts
  services/api/src/modules/users/use-cases/authenticate-user-github.ts
  services/api/src/modules/users/use-cases/recover-user-information.ts
  services/users/application/use-cases/login-user/index.ts
  yarn.lock
Due: prettier --write

:sparkles: feat: add github oauth login
  .yarn/install-state.gz
  apps/web/src/context/AuthContext.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/services/auth.ts
  apps/web/src/types.ts
  services/api/package.json
  services/api/prisma/migrations/20220223165253_add_github_oauth_columns_to_user/migration.sql
  services/api/prisma/schema.prisma
  services/api/src/modules/users/domain/mappers/toDomainMapper.ts
  services/api/src/modules/users/infra/http/router.ts
  services/api/src/modules/users/infra/prisma/contacts-prisma-repository.ts
  services/api/src/modules/users/infra/prisma/users-prisma-repository.ts
  services/api/src/modules/users/use-cases/authenticate-user-github.ts
  services/api/src/modules/users/use-cases/recover-user-information.ts
  services/users/application/use-cases/login-user/index.ts
  yarn.lock
Due: prettier --write

:green_heart: ci(test_web_deploy): only run workflow in feature or bugfix branches
  .github/workflows/test_web_deploy.yml
Due: none

:bug: fix(@neo/api): add --accept-data-loss flag to migrate script
  services/api/package.json
Due: prettier --write

:bug: fix(@neo/api): allow every origin in cors
  services/api/src/infra/http/server.ts
Due: prettier --write

:sparkles: feat(@neo/api): add node.js cluster module
  services/api/src/infra/http/router.ts
  services/api/src/infra/http/server.ts
Due: prettier --write

:construction: wip(@neo/html): deploy @neo/html to github pages
  .github/workflows/web_deploy.yml
  .yarn/install-state.gz.REMOVED.git-id
  apps/html/.gitignore
  apps/html/index.css
  apps/html/package.json
  yarn.lock
Due: prettier --write, stylelint --fix

:bug: fix(web_deploy): use css script instead of css:mini
  .github/workflows/web_deploy.yml
Due: none

:bug: fix(web_deploy): fix copy script & remove purgecss script
  .github/workflows/web_deploy.yml
Due: none

:sparkles: feat(@neo/html): add auth features to @neo/html
  apps/html/index.html
  apps/html/js/data/brands.json
  apps/html/js/data/departments.json
  apps/html/js/data/products.json
  apps/html/js/index.js
  apps/html/js/pages/home.js
  apps/html/js/pages/login.js
  apps/html/js/pages/profile.js
  apps/html/js/pages/register.js
  apps/html/js/store/auth.js
  apps/html/pages/login/index.html
  apps/html/pages/register/index.html
  services/api/src/modules/users/use-cases/login-user.ts
Due: prettier --write

:green_heart: ci(web_deploy): trigger new web_deploy
  .github/workflows/web_deploy.yml
Due: none

:construction: wip(@neo/web): add link to old website + work in progress message
  apps/web/src/pages/index.tsx
Due: none

:green_heart: ci(web_deploy): add @neo/html to paths in workflow
  .github/workflows/web_deploy.yml
  apps/html/js/pages/login.js
  apps/html/js/pages/register.js
Due: prettier --write

:bug: fix(@neo/web): fix broken old website link
  apps/web/src/pages/index.tsx
Due: none

:bug: fix(@neo/api): fix server in development environment not working
  services/api/src/infra/http/server.ts
Due: prettier --write

:sparkles: feat(@neo/api): add node.js cluster module
  .yarn/install-state.gz
  services/api/src/infra/http/server.ts
Due: prettier --write

:bug: fix(branch): fetch main branch
  apps/web/package.json
  apps/web/src/pages/index.tsx
  packages/tokens/.gitignore
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/src/index.ts
  packages/tokens/src/lib/breakpoints.ts
  packages/tokens/src/lib/colors.ts
  packages/tokens/src/lib/grids.ts
  packages/tokens/src/lib/index.ts
  packages/tokens/src/lib/sizes.ts
  packages/tokens/tsconfig.json
  packages/ui/.gitignore
  packages/ui/cypress.json
  packages/ui/cypress/fixtures/example.json
  packages/ui/jest.config.js
  packages/ui/jest.setup.ts
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/src/components/Button/Button.spec.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/index.ts
  packages/ui/src/e2e/test.spec.ts
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  yarn.lock
Due: prettier --write

:bug: fix(lock): add install state and yarn.lock
  .yarn/install-state.gz
  yarn.lock
Due: none

:green_heart: ci(web_deploy): add @neo/ui build step
  .github/workflows/test_web_deploy.yml
  .github/workflows/web_deploy.yml
Due: none

:memo: docs: move docs to main branch
  .github/assets/custom_logo.svg
  .github/assets/invisible.svg
  .github/assets/logo.png
  .github/assets/rainbow_separator.svg
  .github/assets/social_preview.jpg
  README.md
Due: prettier --write

:sparkles: feat: add better session invalidating & session management
  .vscode/settings.json
  .yarn/install-state.gz
  apps/web/package.json
  apps/web/src/context/AuthContext.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/status.tsx
  apps/web/src/pages/user/[username].tsx
  apps/web/src/services/auth.ts
  apps/web/src/services/axios.ts
  services/api/prisma/migrations/20220225235308_add_token_version_to_user/migration.sql
  services/api/prisma/migrations/20220226055701_users_can_have_multiple_refresh_tokens/migration.sql
  services/api/prisma/schema.prisma
  services/api/src/@types/express.d.ts
  services/api/src/infra/http/router.ts
  services/api/src/infra/http/server.ts
  services/api/src/infra/prisma/index.ts
  services/api/src/modules/users/domain/mappers/toDomainMapper.ts
  services/api/src/modules/users/infra/http/router.ts
  services/api/src/modules/users/lib/generateRefreshToken.ts
  services/api/src/modules/users/use-cases/authenticate-user-github.ts
  services/api/src/modules/users/use-cases/disconnect-user-accounts.ts
  services/api/src/modules/users/use-cases/login-user.ts
  services/api/src/modules/users/use-cases/recover-user-information.ts
  services/api/src/modules/users/use-cases/recover-user-password.ts
  services/api/src/modules/users/use-cases/refresh-user-token.ts
  services/api/src/modules/users/use-cases/register-user.ts
  services/users/domain/entities/user.ts
  yarn.lock
Due: prettier --write

:green_heart: ci: only install production dependencies in CI & fix all broken scripts
  .github/workflows/test_web_deploy.yml
  .github/workflows/web_deploy.yml
  .husky/pre-commit
  .vscode/settings.json
  .yarn/install-state.gz
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  apps/html/package.json
  apps/web/package.json
  libs/lint/package.json
  libs/postcss/.swcrc
  libs/postcss/package.json
  libs/postcss/tsconfig.json
  package.json
  packages/global/package.json
  packages/icons/package.json
  packages/tokens/.swcrc
  packages/tokens/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier --write

:construction_worker: build(@neo/web): switch react for preact in build (-40kb)
  .yarn/install-state.gz
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/context/AuthContext.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/index.tsx
  yarn.lock
Due: prettier --write

:green_heart: ci(web_deploy): remove unused packages & cache next.js build and yarn.lock
  .github/workflows/web_deploy.yml
  .yarn/install-state.gz
Due: none

:green_heart: ci(web_deploy): optize workflow by creating multiple jobs
  .github/workflows/web_deploy.yml
Due: none

:bug: fix(web_deploy): upload artifact before downloading it
  .github/workflows/web_deploy.yml
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{js,ts,json,md}
  stylelint --fix: any of: ./**/*.{css,scss}
