Repository Evonofy/NeoExpensive: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

:bug: fix(web_deploy): fix invalid syntax
  .github/workflows/web_deploy.yml
Due: none

:bug: fix(web_deploy): remove spaces after commas in glob pattern
  .github/workflows/web_deploy.yml
Due: none

:bug: fix(web_deploy): remove unused 'rm'
  .github/workflows/web_deploy.yml
Due: none

:bug: fix(web_deploy): run yarn install regardless of cache
  .github/workflows/web_deploy.yml
Due: none

:bug: fix(web_deploy): add checkout in download job
  .github/workflows/web_deploy.yml
Due: none

:truck: chore: add a setup script to workspace
  .yarn/install-state.gz
  setup-workspace.sh
Due: none

:sparkles: feat: add individual session invalidating & settings management
  apps/web/src/@types/navigator.d.ts
  apps/web/src/context/AuthContext.tsx
  apps/web/src/context/SettingsContext.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/login.tsx
  apps/web/src/pages/user/[username].tsx
  apps/web/src/pages/user/[username]/index.tsx
  apps/web/src/pages/user/[username]/sessions.tsx
  apps/web/src/services/auth.ts
  apps/web/src/store/settings.ts
  apps/web/src/types.ts
  services/api/prisma/migrations/20220227193536_add_settings_table/migration.sql
  services/api/prisma/migrations/20220227194651_make_settings_id_optional/migration.sql
  services/api/prisma/migrations/20220228013324_add_platform_to_refresh_token/migration.sql
  services/api/prisma/schema.prisma
  services/api/src/infra/http/router.ts
  services/api/src/infra/prisma/index.ts
  services/api/src/modules/users/infra/http/router.ts
  services/api/src/modules/users/infra/middlewares/auth.ts
  services/api/src/modules/users/lib/generateRefreshToken.ts
  services/api/src/modules/users/use-cases/authenticate-user-github.ts
  services/api/src/modules/users/use-cases/disconnect-user-accounts.ts
  services/api/src/modules/users/use-cases/invalidate-refresh-token.ts
  services/api/src/modules/users/use-cases/list-all-refresh-tokens.ts
  services/api/src/modules/users/use-cases/login-user.ts
  services/api/src/modules/users/use-cases/refresh-user-token.ts
  services/api/src/modules/users/use-cases/set-account-language.ts
  services/api/src/modules/users/use-cases/set-account-theme.ts
Due: prettier --write

:bug: fix(@neo/mail): remove mailtrap implementation
  services/mail/src/application/services/implementations/MailtrapMailService.ts
Due: prettier --write

:sparkles: feat(@neo/api): load user settings & set account language
  services/api/src/modules/users/infra/http/router.ts
  services/api/src/modules/users/use-cases/load-user-settings.ts
  todo.md
Due: prettier --write

:sparkles: feat: add Neo OAuth implementation
  apps/web/src/context/AuthContext.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/login/index.tsx
  apps/web/src/pages/login/oauth/authorize.tsx
  apps/web/src/pages/user/[username]/index.tsx
  services/api/.env.example
  services/api/prisma/migrations/20220301040301_add_oauth_apps/migration.sql
  services/api/prisma/migrations/20220301061103_add_neo_oauth_id_column/migration.sql
  services/api/prisma/schema.prisma
  services/api/src/@types/env.d.ts
  services/api/src/infra/http/router.ts
  services/api/src/modules/oauth/domain/errors/AppNotFound.ts
  services/api/src/modules/oauth/infra/http/router.ts
  services/api/src/modules/oauth/use-cases/create-oauth-app.ts
  services/api/src/modules/oauth/use-cases/delete-oauth-app.ts
  services/api/src/modules/oauth/use-cases/edit-oauth-app.ts
  services/api/src/modules/oauth/use-cases/generate-new-client-secret.ts
  services/api/src/modules/oauth/use-cases/get-app-by-client-id.ts
  services/api/src/modules/oauth/use-cases/list-all-oauth-apps.ts
  services/api/src/modules/users/infra/http/router.ts
  services/api/src/modules/users/use-cases/authenticate-user-neo.ts
Due: prettier --write

:bug: fix(@neo/api): save user email in database when logging in with neo
  services/api/src/modules/users/use-cases/authenticate-user-neo.ts
Due: prettier --write

:bug: fix(@neo/api): add bcrypt types
  .yarn/install-state.gz
  services/api/package.json
  yarn.lock
Due: prettier --write

:bug: fix(@neo/users): move @types/bcrypt to normal deps
  services/users/package.json
Due: prettier --write

:bug: fix(@neo/services): switch tsc for swc as build tool + use esbuild for @neo/api
  .yarn/install-state.gz
  apps/web/src/pages/login/oauth/authorize.tsx
  services/api/.swcrc
  services/api/package.json
  services/api/src/index.ts
  services/api/src/infra/http/index.ts
  services/core/.swcrc
  services/core/package.json
  services/core/src/domain/entity.ts
  services/core/src/index.ts
  services/core/tsconfig.json
  services/mail/.swcrc
  services/mail/package.json
  services/users/.swcrc
  services/users/application/index.ts
  services/users/package.json
  services/users/src/application/repositories/UsersRepository.ts
  services/users/src/application/repositories/drivers/tests/in-memory-users-repository.ts
  services/users/src/application/repositories/index.ts
  services/users/src/application/use-cases/find-user-by-email/index.ts
  services/users/src/application/use-cases/index.ts
  services/users/src/application/use-cases/login-user/index.spec.ts
  services/users/src/application/use-cases/login-user/index.ts
  services/users/src/application/use-cases/register-user/index.spec.ts
  services/users/src/application/use-cases/register-user/index.ts
  services/users/src/domain/entities/user.ts
  services/users/src/index.ts
  services/users/tsconfig.json
  yarn.lock
Due: prettier --write

:bug: fix(@neo/web): remove getInitialProps since it broke static export
  apps/web/src/context/AuthContext.tsx
  apps/web/src/pages/login/index.tsx
  apps/web/src/pages/login/oauth/authorize.tsx
  apps/web/src/pages/user/[username]/index.tsx
  apps/web/src/store/settings.ts
  services/api/.env.example
  services/api/src/@types/env.d.ts
  services/api/src/modules/users/infra/http/router.ts
  todo.md
Due: prettier --write

:bug: fix: make username mandatory when registering user
  .yarn/install-state.gz
  apps/web/package.json
  apps/web/src/context/AuthContext.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/register.tsx
  apps/web/src/pages/user/[username]/index.tsx
  apps/web/src/pages/user/[username]/sessions.tsx
  apps/web/src/services/auth.ts
  apps/web/src/types.ts
  services/api/prisma/migrations/20220301221611_make_username_obligatory/migration.sql
  services/api/prisma/schema.prisma
  services/api/src/modules/users/infra/http/router.ts
  services/api/src/modules/users/infra/prisma/contacts-prisma-repository.ts
  services/api/src/modules/users/use-cases/authenticate-user-github.ts
  services/api/src/modules/users/use-cases/authenticate-user-neo.ts
  services/api/src/modules/users/use-cases/get-refresh-token-data.ts
  services/api/src/modules/users/use-cases/list-user-by-username.ts
  services/api/src/modules/users/use-cases/login-user.ts
  services/api/src/modules/users/use-cases/register-user.ts
  services/users/src/application/use-cases/login-user/index.spec.ts
  services/users/src/application/use-cases/register-user/index.spec.ts
  services/users/src/application/use-cases/register-user/index.ts
  services/users/src/domain/entities/user.ts
  todo.md
  yarn.lock
Due: prettier --write

:sparkles: feat(@neo/web): switch between localStorage and Cookies
  apps/web/src/context/AuthContext.tsx
  apps/web/src/context/SettingsContext.tsx
  apps/web/src/context/StorageContext.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/login/index.tsx
  apps/web/src/pages/user/[username]/index.tsx
  apps/web/src/services/axios.ts
  apps/web/src/store/storage.ts
  todo.md
Due: prettier --write

:sparkles: feat: add login with id, username and e-mail
  apps/web/src/context/AuthContext.tsx
  apps/web/src/context/SettingsContext.tsx
  apps/web/src/context/StorageContext.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/login/index.tsx
  apps/web/src/pages/login/oauth/authorize.tsx
  apps/web/src/pages/recover-password.tsx
  apps/web/src/pages/user/[username]/developer.tsx
  apps/web/src/pages/user/[username]/index.tsx
  apps/web/src/pages/user/[username]/sessions.tsx
  apps/web/src/services/auth.ts
  apps/web/src/store/settings.ts
  services/api/src/modules/users/use-cases/list-specific-user.ts
  services/api/src/modules/users/use-cases/login-user.ts
  todo.md
Due: prettier --write

:sparkles: feat(@neo/api): add gmail driver option
  apps/web/src/pages/recover-password.tsx
  apps/web/src/services/auth.ts
  services/api/.env.example
  services/api/src/@types/env.d.ts
  services/api/src/infra/lib/constants.ts
  services/api/src/modules/users/infra/mail/GmailMailService.ts
  services/api/src/modules/users/use-cases/recover-user-password.ts
  services/api/src/modules/users/use-cases/register-user.ts
  services/api/src/modules/users/use-cases/set-user-new-password.ts
  todo.md
Due: prettier --write

:sparkles: feat: add user account deletion
  apps/web/src/pages/user/[username]/index.tsx
  apps/web/src/services/auth.ts
  apps/web/src/services/axios.ts
  services/api/src/modules/users/infra/http/router.ts
  services/api/src/modules/users/use-cases/delete-authenticated-user-account.ts
  services/api/src/modules/users/use-cases/delete-user-account.ts
Due: prettier --write

:bug: fix(@neo/html): fix login and register sending wrong props to server
  apps/html/js/pages/login.js
  apps/html/js/pages/register.js
Due: prettier --write

:construction: wip(@neo/mvp): add vite react typescript project with stitches and i18next
  .yarn/install-state.gz
  apps/mvp/.env.example
  apps/mvp/.gitignore
  apps/mvp/.prettierrc.js
  apps/mvp/index.html
  apps/mvp/package.json
  apps/mvp/public/locales/en-US/translation.json
  apps/mvp/public/locales/en/translation.json
  apps/mvp/scripts/generateTranslationTypes.ts
  apps/mvp/scripts/syncTranslations.ts
  apps/mvp/scripts/traverseTranslations.ts
  apps/mvp/scripts/tsconfig.json
  apps/mvp/src/@types/env.d.ts
  apps/mvp/src/App.tsx
  apps/mvp/src/context/auth.tsx
  apps/mvp/src/context/theme.tsx
  apps/mvp/src/generated/translationKeys.ts
  apps/mvp/src/hooks/useTranslation.ts
  apps/mvp/src/lib/constants.ts
  apps/mvp/src/lib/i18n.ts
  apps/mvp/src/main.tsx
  apps/mvp/src/pages/home/index.tsx
  apps/mvp/src/router.tsx
  apps/mvp/src/store/auth.ts
  apps/mvp/src/styles/global.ts
  apps/mvp/src/styles/stitches.config.ts
  apps/mvp/src/types.ts
  apps/mvp/src/types/util-types.ts
  apps/mvp/src/vite-env.d.ts
  apps/mvp/tsconfig.json
  apps/mvp/tsconfig.node.json
  apps/mvp/vite.config.ts
  yarn.lock
Due: prettier --write

:bug: fix(@neo/html): user no loger has .props
  apps/html/js/pages/home.js
  apps/html/js/pages/login.js
Due: prettier --write

:sparkles: feat(@neo/mvp): add products context alongside with json-server as api
  .yarn/install-state.gz
  apps/mvp/.env.example
  apps/mvp/api.json
  apps/mvp/package.json
  apps/mvp/src/@types/env.d.ts
  apps/mvp/src/App.tsx
  apps/mvp/src/context/auth.tsx
  apps/mvp/src/context/products.tsx
  apps/mvp/src/context/theme.tsx
  apps/mvp/src/lib/query-client.ts
  apps/mvp/src/pages/auth/login/index.tsx
  apps/mvp/src/pages/home/index.tsx
  apps/mvp/src/router.tsx
  apps/mvp/src/services/api.ts
  apps/mvp/src/services/auth/login-user.ts
  apps/mvp/src/services/brands/get-brands.ts
  apps/mvp/src/services/categories/get-categories.ts
  apps/mvp/src/services/products/get-products.ts
  apps/mvp/src/store/auth.ts
  apps/mvp/src/store/products.ts
  apps/mvp/src/styles/global.ts
  apps/mvp/src/styles/stitches.config.ts
  apps/mvp/src/types.ts
  apps/mvp/src/types/auth.ts
  apps/mvp/src/types/brands.ts
  apps/mvp/src/types/categories.ts
  apps/mvp/src/types/products.ts
  apps/mvp/tsconfig.json
  yarn.lock
Due: prettier --write

:bug: fix(@neo/api): save email contact account username as it's id
  services/api/src/modules/users/infra/prisma/contacts-prisma-repository.ts
Due: prettier --write

:sparkles: feat(@neo/mvp): add all auth related pages
  .yarn/install-state.gz
  apps/mvp/package.json
  apps/mvp/public/locales/en/translation.json
  apps/mvp/src/components/Button/index.tsx
  apps/mvp/src/components/Input/index.tsx
  apps/mvp/src/components/Input/style.module.scss
  apps/mvp/src/components/Link/index.tsx
  apps/mvp/src/components/Modal/index.tsx
  apps/mvp/src/context/modal.tsx
  apps/mvp/src/lib/i18n.ts
  apps/mvp/src/pages/auth/forgot-password/index.tsx
  apps/mvp/src/pages/auth/login/index.tsx
  apps/mvp/src/pages/auth/redeem-password/index.tsx
  apps/mvp/src/pages/auth/register/index.tsx
  apps/mvp/src/pages/auth/register/styles.module.scss
  apps/mvp/src/pages/email/email-code/index.tsx
  apps/mvp/src/pages/email/email-confirmation/index.tsx
  apps/mvp/src/pages/home/index.tsx
  apps/mvp/src/router.tsx
  apps/mvp/tsconfig.json
  yarn.lock
Due: prettier --write, stylelint --fix

:sparkles: feat(@neo/mvp): add functionality for all pages in figma
  .yarn/install-state.gz
  apps/mvp/package.json
  apps/mvp/src/App.tsx
  apps/mvp/src/components/Modal/index.tsx
  apps/mvp/src/context/auth.tsx
  apps/mvp/src/context/products.tsx
  apps/mvp/src/context/theme.tsx
  apps/mvp/src/pages/auth/forgot-password/index.tsx
  apps/mvp/src/pages/auth/login/index.tsx
  apps/mvp/src/pages/auth/profile/index.tsx
  apps/mvp/src/pages/auth/redeem-password/index.tsx
  apps/mvp/src/pages/auth/register/index.tsx
  apps/mvp/src/pages/cart/index.tsx
  apps/mvp/src/pages/checkout-product/index.tsx
  apps/mvp/src/pages/checkout-success/index.tsx
  apps/mvp/src/pages/checkout/index.tsx
  apps/mvp/src/pages/home/index.tsx
  apps/mvp/src/pages/product/index.tsx
  apps/mvp/src/router.tsx
  apps/mvp/src/services/auth/register-user.ts
  apps/mvp/src/services/brands/get-brands.ts
  apps/mvp/src/services/categories/get-categories.ts
  apps/mvp/src/services/products/get-products.ts
  apps/mvp/src/store/auth.ts
  apps/mvp/src/store/products.ts
  apps/mvp/src/types/auth.ts
  apps/mvp/src/types/products.ts
  yarn.lock
Due: prettier --write

:sparkles: feat(@neo/mvp): add Homepage with old design
  apps/html/scss/components/_c-product-card.scss
  apps/mvp/index.html
  apps/mvp/src/App.tsx
  apps/mvp/src/components/Header/index.tsx
  apps/mvp/src/context/products.tsx
  apps/mvp/src/js/themes/index.js
  apps/mvp/src/pages/home/index.tsx
  apps/mvp/src/services/brands/get-brands.ts
  apps/mvp/src/services/categories/get-categories.ts
  apps/mvp/src/store/products.ts
  apps/mvp/src/types/products.ts
  apps/web/src/context/AuthContext.tsx
Due: prettier --write, stylelint --fix

:sparkles: feat(@neo/mvp): add login page with old design
  apps/html/scss/pages/_login.scss
  apps/html/scss/themes/_theme.scss
  apps/mvp/src/components/Button/index.tsx
  apps/mvp/src/components/Button/styles.module.scss
  apps/mvp/src/components/Input/index.tsx
  apps/mvp/src/context/auth.tsx
  apps/mvp/src/global.css
  apps/mvp/src/main.tsx
  apps/mvp/src/pages/auth/login/index.tsx
  apps/mvp/src/styles/stitches.config.ts
Due: prettier --write, stylelint --fix

:sparkles: feat(@neo/mvp): add register and mail success apge
  apps/html/scss/components/_c-user-control.scss
  apps/mvp/src/components/Button/index.tsx
  apps/mvp/src/components/Button/styles.module.scss
  apps/mvp/src/components/Input/cep/index.tsx
  apps/mvp/src/components/Input/cpf/index.tsx
  apps/mvp/src/components/Input/index.tsx
  apps/mvp/src/global.css
  apps/mvp/src/pages/auth/register/index.tsx
  apps/mvp/src/pages/email/email-confirmation/index.tsx
  apps/mvp/src/pages/home/index.tsx
  todo.md
Due: prettier --write, stylelint --fix

:sparkles: feat(@neo/mvp): add profile and product page
  .yarn/install-state.gz
  apps/mvp/package.json
  apps/mvp/src/components/Footer/index.tsx
  apps/mvp/src/pages/auth/profile/index.tsx
  apps/mvp/src/pages/product/index.tsx
  apps/mvp/src/router.tsx
  apps/mvp/src/store/products.ts
  apps/mvp/src/types/products.ts
  yarn.lock
Due: prettier --write

:green_heart: ci(@neo/mvp): add @neo/mvp build script to web_deploy
  .github/workflows/web_deploy.yml
  apps/mvp/src/@types/zoom.d.ts
  apps/mvp/src/services/products/get-products.ts
Due: prettier --write

:bug: fix(@neo/mvp): remove type-checking from buidl
  .yarn/install-state.gz
  apps/mvp/package.json
  apps/mvp/tsconfig.json
Due: prettier --write

:truck: chore(@neo/web): add link to @neo/mvp in homepage
  apps/web/src/pages/index.tsx
Due: none

:bug: fix(web_deploy.yml): add @neo/html build to mvp job
  .github/workflows/web_deploy.yml
Due: none

:bug: fix(web_deploy): boring shit
  .github/workflows/web_deploy.yml
Due: none

:construction: wip(web_deploy): remove mvp package.json from other jobs
  .github/workflows/web_deploy.yml
Due: none

:green_heart: ci(web_deploy): change @neo/mvp download artifact name to mvp-build
  .github/workflows/web_deploy.yml
  .yarn/install-state.gz
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{js,ts,json,md}
  stylelint --fix: any of: ./**/*.{css,scss}
